@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

html {
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Poppins";
  background-color: #090909;
  color: #fff;
}

a.nav-link {
  color: #899097;
}

a.nav-link:hover {
  color: #fafafa;
}

.nav-item {
  margin-right: 20px;
}

nav.navbar {
  background-color: #141414;
}

.nav-item:hover {
  border-bottom: 2px solid #fad810;
}

.sidebar-menu {
  width: 250px;
  height: 100vh;
  background-color: #101010;
  position: fixed;
}

.sidebar-menu-item-active {
  color: #fad810;
  background-color: #161616;
  border-radius: 20px;
}

.sidebar-menu-item {
  margin-bottom: 10px;
}

.sidebar-menu-item:hover {
  background-color: #161616;
  border-radius: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}

.card:hover {
  background-color: #161616 !important;
  transition: 0.3s;
  cursor: pointer;
}

.cut-text {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 160px;
  height: 1.2em;
  white-space: nowrap;
}
